---
import "@src/styles/global.css";
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@src/i18n/utils";
const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);
const t = useTranslations(lang);
---

<footer class="bg-dark text-white center">
  <div class="header">
    <h3>Reconstructive.be</h3>
    <p>Elke Busschots: + 32 475 46 39</p>
    <p>Bram Geysen: +32 473 52 30 94</p>
  </div>

  <div class="navigation">
    <h4>Navigation</h4>
    <p><a href={translatePath("/")}>home</a></p>
    <p><a href={translatePath("/aanpak")}>{t("nav.aanpak")}</a></p>
    <p>
      <a href={translatePath("/aanbod")}>{t("nav.aanbod")}</a>
    </p>
    <p>
      <a href={translatePath("/impressies")}>{t("nav.impressies")}</a>
    </p>
    <p><a href={translatePath("/about")}>{t("nav.about")}</a></p>
    <p><a href={translatePath("/posts")}>blog</a></p>
  </div>
  <p class="text-align-center">
    &copy; 2026 Reconstructive.be. All Rights Reserved
  </p>
</footer>

<style>
  footer {
    color: #b7aaaa;
    padding-bottom: 1rem;
    position: relative;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    column-gap: 2rem;
  }

  p,
  li,
  .normal-font-size {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  h4 {
    font-size: 1rem;
    margin: 0;
  }

  @media (max-width: 750px) {
    .navigation,
    .header {
      flex-direction: column;
      justify-content: normal;
      gap: 0;
    }
  }
</style>
