---
import { getLangFromUrl, useTranslations } from "@src/i18n/utils";

interface Props {
  title: string;
  text: string[];
  li: string[];
}

const { title, text, li } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
  <h3 class="text-green text-align-center">{title}</h3>
  {text.map((t) => <p>{t}</p>)}
</div>
<div>
  <h3 class="text-green text-align-center">{t("aanbod.details.benefits")}</h3>
  <ul>
    {li.map((i) => <li>{i}</li>)}
  </ul>
</div>
