---
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from "@src/i18n/utils";

interface Props {
  title: string;
  text: string[];
  li: string[];
}

const { title, text, li } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<div>
  <h3 class="text-green text-align-center">{title}</h3>
  {text.map((t) => <p>{t}</p>)}
</div>
<div>
  <h3 class="text-green text-align-center">{t("aanbod.details.benefits")}</h3>
  <ul>
    {li.map((i) => <li>{i}</li>)}
  </ul>
  <a href={translatePath("/aanbod#kalender")} class="center"
    ><span class="green-btn btn">{t("aanbod.seeDatum")}</span></a
  >
</div>
