---
import Layout from "@src/layouts/Layout.astro";
import { Image } from "astro:assets";
import SplitGrid from "@components/SplitGrid.astro";
import elkeProfiel from "@assets/imgs/elke-profile.jpg";
import bramProfiel from "@assets/imgs/bram-profile.png";
import groupPhotoImg from "@assets/imgs/group-foto.jpg";
import rihsLogo from "@assets/imgs/RIIHS-logo.png";

import {
  getStaticPaths,
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";

export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout>
  <section class="bg-green text-white text-align-center">
    <div class="small-text-margin">
      <h1>{t("about.hero.title")}</h1>
      <p>{t("about.hero.description")}</p>
    </div>
  </section>

  <SplitGrid>
    <div class="img-wrapper">
      <Image
        src={elkeProfiel}
        alt={t("about.elke.alt")}
        width={800}
        height={800}
        class="img elke-img"
      />
    </div>

    <div class="text-wrapper bg-beige">
      <div class="text-gray text">
        <h2 class="text-align-center text-green">{t("about.elke.title")}</h2>
        <p>{t("about.elke.intro")}</p>
        <p>{t("about.elke.strengthTitle")}</p>
        <ul>
          <li>{t("about.elke.strength1")}</li>
          <li>{t("about.elke.strength2")}</li>
          <li>{t("about.elke.strength3")}</li>
          <li>{t("about.elke.strength4")}</li>
          <li>{t("about.elke.strength5")}</li>
        </ul>
        <p>{t("about.elke.mission")}</p>
        <div class="center">
          <a
            href="https://www.Cominz.be"
            target="_blank"
            rel="noopener noreferrer"
            class="green-btn big-btn font-size-1_3"
          >
            www.Cominz.be
          </a>
        </div>
      </div>
    </div>

    <div class="text-wrapper bg-beige text-gray fourth">
      <div class="text margin-left">
        <h2 class="center text-green">{t("about.bram.title")}</h2>
        <p>{t("about.bram.intro1")}</p>
        <p>{t("about.bram.intro2")}</p>
        <p>{t("about.bram.intro3")}</p>
        <p>{t("about.bram.outro")}</p>
        <div class="center">
          <a
            href="https://www.mooyo.be"
            target="_blank"
            rel="noopener noreferrer"
            class="green-btn big-btn font-size-1_3"
          >
            www.mooyo.be
          </a>
        </div>
      </div>
    </div>

    <div class="img-wrapper third">
      <Image
        src={bramProfiel}
        alt={t("about.bram.alt")}
        width={500}
        height={500}
        class="img"
      />
    </div>
  </SplitGrid>
  <section class="bg-green text-white text-align-center">
    <div class="small-text-margin">
      <h2>{t("about.values.title")}</h2>
      <p>{t("about.values.body1")}</p>
      <p>{t("about.values.body2")}</p>
    </div>
  </section>
  <section class="bg-beige text-gray text-align-center">
    <div class="small-text-margin oorsprong">
      <div class="img-wrapper">
        <Image
          alt={t("about.origin.groupPhotoAlt")}
          width={500}
          height={500}
          src={groupPhotoImg}
          class="img"
        />
      </div>
      <div class="text">
        <h2 class="text-align-center text-green text-align-center">
          {t("about.origin.title")}
        </h2>
        <p>{t("about.origin.body")}</p>
        <Image
          alt={t("about.origin.logoAlt")}
          width={400}
          height={150}
          src={rihsLogo}
        />
        <a
          href="https://reconstructiveschool.com/en/home/"
          target="_blank"
          rel="noopener noreferrer"
          ><div class="big-btn green-btn btn">
            <p>{t("about.origin.buttonText")}</p>
          </div></a
        >
      </div>
    </div>
  </section>
</Layout>

<style>
  .yellow-section p {
    margin: 0;
    padding: 3rem;
  }

  .oorsprong {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 3rem;
    row-gap: 2rem;
  }

  .oorsprong .img-wrapper {
    overflow: hidden;
    border-radius: 100%;
    aspect-ratio: 1/1;
    width: 100%;
    max-width: 280px;
    margin: auto;
    margin-right: 0;
  }

  .oorsprong .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .oorsprong p {
    overflow-wrap: break-word;
    word-break: break-word;
  }

  .oorsprong .green-btn {
    margin: 1rem 0;
  }
  .oorsprong .green-btn p {
    margin: 0;
  }

  @media (max-width: 800px) {
    .yellow-section p {
      padding: 1.5rem 1rem;
    }

    .oorsprong {
      grid-template-columns: 1fr;
    }

    .oorsprong .img-wrapper {
      width: 50%;
      max-width: 250px;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
