---
import Layout from "@src/layouts/Layout.astro";
import {
  getStaticPaths,
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";

export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout>
  <section class="bg-green text-white text-align-center">
    <div class="small-text-margin">
      <h1>Ontdek Reconstructive: Jouw reis naar authenticiteit</h1>
      <p>
        Bij Reconstructive begeleiden we je naar leven vanuit je kern —
        authentiek, intuïtief en vrij. Ontdek een nieuwe manier van kijken en
        groeien. Ben je klaar om je ware zelf te onthullen?
      </p>
    </div>
  </section>
  <section></section>
</Layout>
<style></style>
