---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="bg-beige text-gray marquee-container">
  <div class="marquee-content">
    <div class="marquee-group">
      <p>{t("quotes.1")}</p>
      <p>{t("quotes.2")}</p>
    </div>
    <div class="marquee-group" aria-hidden="true">
      <p>{t("quotes.1")}</p>
      <p>{t("quotes.2")}</p>
    </div>
  </div>
</section>
<style>
  .marquee-container {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    display: flex;
  }

  .marquee-content {
    display: flex;
    white-space: nowrap;
    /* Pas de '40s' aan om de snelheid te bepalen */
    animation: marquee-infinite 40s linear infinite;
  }

  .marquee-group {
    display: flex;
    flex-shrink: 0;
  }

  .marquee-group p {
    margin: 0;
    /* Dit zorgt voor exact evenveel ruimte tussen ALLE quotes */
    padding-right: 150px;
    padding-left: 150px;
  }

  @media (max-width: 768px) {
    .marquee-group p {
      padding-right: 50px;
      padding-left: 50px;
    }
  }

  /* De magische naadloze animatie */
  @keyframes marquee-infinite {
    0% {
      transform: translate3d(0%, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }
</style>
