---
import "../styles/global.css";
import Footer from "@components/layout/Footer.astro";
import Header from "@components/layout/Header.astro";
import ScrollToTop from "@components/layout/ScrollToTop.astro";
import Nav from "@components/layout/Nav.astro";
import Head from "@components/head/Head.astro";

const pathname = new URL(Astro.url).pathname;

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <Head title={title} />
  </head>
  <body>
    <Header />
    <Nav pathname={pathname} />
    <slot />
    <Footer />
    <ScrollToTop />
  </body>
</html>
