---
import Layout from "@src/layouts/Layout.astro";
import { Image } from "astro:assets";
import fotoGallary from "@assets/imgs/impressie-img-gallary.webp";
import {
  getStaticPaths,
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";

export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title="Impressies">
  <section class="bg-yellow text-gray center">
    <h1 class="text-green">{t("impressies.hero.title")}</h1>
    <p>
      {t("impressies.hero.description")}
    </p>
  </section>
  <section class="bg-beige center">
    <Image
      class="img"
      src={fotoGallary}
      alt={t("impressies.gallery.alt")}
      width={1000}
      height={500}
    />
  </section>
  <section class="bg-green text-white">
    <div class="small-text-margin">
      <h2 class="text-align-center">{t("impressies.expert.title")}</h2>
      <p>
        {t("impressies.expert.body1")}
      </p>
      <p>
        {t("impressies.expert.body2")}
      </p>
      <h2 class="text-align-center">
        {t("impressies.ready.title")}
      </h2>
      <a href="mailto:info@reconstructive.be" class="center">
        <button class="white-btn big-btn p3"
          >{t("impressies.ready.button")}</button
        >
      </a>
    </div>
  </section>
</Layout>
<style>
  .big-btn {
    margin: 1rem;
  }

  .img {
    width: 70%;
    height: auto;
  }

  @media (max-width: 768px) {
    .img {
      width: 100%;
    }
  }
</style>
