---
import Layout from "@src/layouts/Layout.astro";
import {
  getStaticPaths,
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";
import Aanbod from "@components/aanbod/Aanbod.astro";
import KalenderContainer from "@components/kalender/KalenderContainer.astro";

export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout>
  <section class="bg-green text-white">
    <div class="text-margin">
      <h1 class="text-align-center">{t("aanbod.hero.title")}</h1>
      <p>
        {t("aanbod.hero.body")}
      </p>
      <a href={translatePath("/aanpak")} class="center">
        <button class="beige-btn big-btn p3">{t("aanbod.hero.button")}</button
        ></a
      >
      <p class="text-align-center">
        {t("aanbod.hero.outro")}
      </p>
    </div>
  </section>
  <section class="bg-beige text-gray">
    <Aanbod />
  </section>
  <section class="bg-green text-white">
    <KalenderContainer />
  </section>
  <section class="contact bg-beige text-gray center">
    <p class="font-size-1_75">{t("aanbod.footer.text1")}</p>
    <p class="font-size-1_75">
      {t("aanbod.footer.text2")}
    </p>
    <p class="font-size-1_75">
      {t("aanbod.footer.text3")}
    </p>
    <p class="p1">
      {t("aanbod.footer.text4")}
    </p>

    <a href="mailto:info@reconstructive.be">
      <button class="green-btn big-btn p3">{t("aanbod.footer.button")}</button>
    </a>
  </section>
</Layout>
<style>
  .big-btn {
    margin: 1rem;
  }

  .contact p {
    margin: 0.5rem;
  }
</style>
