---
import Layout from "@src/layouts/Layout.astro";
import { Image } from "astro:assets";
import fotoGallary from "@assets/imgs/impressie-img-gallary.webp";
import {
  getStaticPaths,
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from "@src/i18n/utils";

export { getStaticPaths };
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout>
  <section class="bg-yellow text-gray center">
    <h1 class="text-green">Impressies</h1>
    <p>
      Om je een beeld te geven hoe Reconstructive er kan uitzien volgen hier
      enkele foto's.
    </p>
  </section>
  <section class="bg-beige center">
    <Image
      class="img"
      src={fotoGallary}
      alt="foto gallery van de reconstrucitve workshop"
      width={1000}
      height={500}
    />
  </section>
  <section class="bg-green text-white">
    <div class="small-text-margin">
      <h2 class="text-align-center">Jij bent de expert van je eigen reis</h2>
      <p>
        Wij geloven dat iedereen een geschenk is voor deze wereld, een expert in
        zijn of haar eigen leven, en dat alles wat je nodig hebt al in jezelf
        aanwezig is. Jij zit aan het stuur van je eigen leerproces.
      </p>
      <p>
        Bij Reconstructive helpen we je om je volledige potentieel te ontplooien
        en authentiek te leven.
      </p>
      <h2 class="text-align-center">
        Ben je klaar om dichter bij je kern te komen?
      </h2>
      <a href="mailto:info@reconstructive.be" class="center">
        <button class="white-btn big-btn p3"
          >Contacteer ons voor een vrijblijvende kennismakinggesprek</button
        >
      </a>
    </div>
  </section>
</Layout>
<style>
  .big-btn {
    margin: 1rem;
  }

  .img {
    width: 70%;
    height: auto;
  }
</style>
